html, body {
    background: #a0a0a0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    font-size:22px;
    font-weight: bold;
    text-align: center;
    color:#fff;
}

h2 {
    text-align: center;
}

.alink  a {
    color:#fff;
}

.alink a:visited {
    color:#efefef;
}

a {
    text-decoration: none;
    color:lightgreen;
}

a:visited {
    color:green;
}

a:hover {
    color:red;
}

.iptable {
    width: 90%;
    margin: 0 auto;
    color: #fff;
    background: #808080;
    font-size:14px;
    font-family: "DejaVu Sans";

    border:2px solid #fff;
    border-spacing: 0;
    border-collapse: collapse;
}

.iptable tr, td, th {
  border:1px solid #fff;
  padding: 0;
}

.iptable td.ipaddr {
    text-align: center;
    width: 15%;
}

.iptable td.right {
    text-align: right;
}

.addresses td:nth-child(1), td:nth-child(2) {
    width: 10%;
    text-align: center;
}

.addresses td:nth-child(3) {
    width: 70%;
    overflow: auto;
    text-align: left;
}

.addresses td:nth-child(4) {
    width: 10%;
    text-align: right;
}